body {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400; 
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(/Images/Train\ Station.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Title {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin: 50px 0;
}

.genrted-quote {
    font-size: 35px;
    font-style: oblique;
    color: white;
    margin: 70px 0;
}

.genrate-quotebtn {
    font-size: 20px;
    padding: 7px 16px;
    margin: 0px 12px;
    color: white;
    background-color: #272727;
}

.delete-quotebtn {
    font-size: 20px;
    padding: 7px 16px;
    margin: 0px 12px;
    color: white;
    background-color: #474747;
}